[Unit]
Description=Bridge between WhatsApp and Telegram
After=network.target

[Service]
Type=idle
Restart=on-failure
User=sauhard65
RuntimeMaxSec=1d
ExecStart=/home/sauhard65/watgbridge/watgbridge

[Install]
WantedBy=multi-user.target
